version: "3.8"

services:
  frontend:
    image: frontend:latest
    ports:
      - "3000:3000"
    depends_on:
      - backend
      - ai-model
    networks:
      - application-networks

  backend:
    image: backend:latest
    ports:
      - "4040:4040"
    depends_on:
      - db
      - ai-model
    networks:
      - backend-networks
      - application-networks

  ai-model:
    image: human-detection:latest
    ports:
      - "5000:5000"
    networks:
      - application-networks
  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - backend-networks

networks:
  backend-networks:
    driver: bridge
  application-networks:
    driver: bridge
